body 			{ margin:0; padding:0;}
#controls 		{ padding:0 0 8px 10px; border-bottom:2px solid #ccc;}
.color 			{ display:inline-block; width:20px; height:20px; margin:2px 6px 0 0; border:2px solid #ccc; cursor:pointer; opacity:0.3 }
.color.active	{ opacity:1; }
